*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-one: #2e323f;
  --color-two: #3b4050;
  --color-three: #caced1;
  --color-four: #7c7056;
  --color-five: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--color-one);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-five);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

h1 {
  font-size: 2.8125rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
  color: var(--color-five);
}

h4 {
  /* font-size: 1.5rem; */
  font-size: 2rem;
  color: var(--color-five);
}

h5 {
  font-size: 1.3125rem;
  margin: 2rem auto 1rem;
}

p {
  text-align: justify;
}

footer {
  font-size: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header,
footer {
  color: var(--color-five);
  background-color: var(--color-one);
  justify-content: center;
}

header {
  text-align: center;
  padding: 1em 0;
}

.color-accent {
  color: var(--color-four);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: var(--color-five);
  background-color: var(--color-four);
  border-radius: 100px;
  display: inline-block;
  padding: 0.25em 1.25em;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  display: none;
}

.nav-toggle {
  position: absolute;
  left: 0;
  background-color: var(--color-two);
  border-radius: 50%;
  border: 0;
  color: var(--color-three);
  width: 3em;
  height: 3em;
  padding: 0;
}

.nav--visible {
  display: block;
}

.nav__link {
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus,
.btn:hover,
.btn:focus,
.nav-toggle:hover,
.nav-toggle:focus {
  opacity: 0.65;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  height: 3px;
  width: 50%;
  margin: 0 auto;
  background: var(--color-five);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav__list {
  margin-top: 0.75em;
}

.nav__item {
  margin-top: 0.3em;
}

section,
footer,
main {
  padding: 10% 0 5%;
}

main {
  font-size: 1.3125rem;
}

.sidebar {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.hero {
  color: var(--color-five);
  background-color: var(--color-two);
  font-size: 1.5rem;
}

.sub-hero {
  background-color: var(--color-three);
}

.aside__card {
  background-color: var(--color-two);
  color: var(--color-five);
  margin: 1em;
  padding: 1em;
}

.sidebar__row {
  display: flex;
  flex-direction: row;
}

@media (min-width: 700px) {
  h1 {
    font-size: 3.75rem;
  }

  h5,
  .list__item {
    text-align: left;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logo {
    display: inline-block;
    position: absolute;
    left: 0;
  }

  .nav-toggle {
    display: none;
  }

  .nav__list,
  .nav__item {
    display: inline-block;
    margin: 0;
  }

  .nav__item {
    margin-left: 1em;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .col,
  .aside__card {
    align-self: stretch;
  }

  .col + .col {
    margin-left: 2em;
  }

  .col1 {
    width: 40%;
  }

  .col2 {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 5.625rem;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  .main__section {
    width: 62%;
  }

  .sidebar {
    width: 32%;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
  }

  aside.sidebar {
    display: flex;
    flex-direction: column;
  }

  .col1 {
    width: 40%;
  }

  .col2 {
    width: 50%;
  }
}
